/* static/patientdetails.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1 {
    color: #3d5eaf;
}

p {
    margin-bottom: 10px;
}


.button {
    background-color: #63eab6;
    border-radius: 10px;
    border-color: #63eab6;
    color: white;
    top:60%
}

a {
    text-decoration: none;
    color: #3d5eaf;
    
    cursor: pointer;
}


