<!-- entry_success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We Care - Entry Successful</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='entry_success.css') }}">
</head>
<body>
    <h1>Entry Successful</h1>
    <p>Your patient information has been successfully recorded.</p>
    <p><button class=button><a href="{{ url_for('index') }}">Go to Home Page</button></p>
</body>
</html>
