<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}We Care{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='logo.css') }}">
</head>
<body>
    <div id="logo-container">
        <img src="{{ url_for('static', filename='wecare_logo.png') }}" alt="Logo" id="logo">
    </div>

    {% block content %}{% endblock %}
</body>
</html>
